@page
@model WebApplication.Pages.Auth.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="center" style="padding: 20px; font-size: 30px; text-align: center">
    @ViewData["Result"]
</div>