@page
@model WebApplication.Pages.Auth.PasswordResetSucceededModel
@{
    Layout = "CenterLayout";
    ViewData["Title"] = "Password reset succeeded";
}

<div class="center" style="padding: 20px; font-size: 30px; text-align: center">
    Password has been reseted.
</div>