@page
@model WebApplication.Pages.Auth.RegistrationSucceededModel
@{
    ViewData["Title"] = "Registration succeeded";
}

<div class="center" style="padding: 20px; font-size: 30px; text-align: center">
    You've created an account. Please confirm your email by clicking a link, that has been send to your email.
</div>