@page
@model WebApplication.Pages.Auth.ResetPasswordModel
@{
    Layout = "CenterLayout";
    ViewData["Title"] = "Reset password";
}

@section Styles {
    <link href="/css/forms.css" rel="stylesheet" />
}

<div class="auth-container center flex-column" style="height: 100%">
    <form method="post">
        <div class="form-div flex-column">
            <label asp-for="EmailModel.Email" class="form-label" style="font-size: 30px;">Email</label>
            <input asp-for="EmailModel.Email" type="email" class="form-input" style="font-size: 30px;" />
            <span asp-validation-for="EmailModel.Email" class="validation-message"></span>
        </div>
        <input type="submit" value="Send reset link" />
    </form>
</div>