@page
@model WebApplication.Pages.Auth.SetNewPasswordModel
@{
    ViewData["Title"] = "New password";
    Layout = "CenterLayout";
}

@section Styles {
    <link href="/css/forms.css" rel="stylesheet" />
}

<div class="auth-container center flex-column" style="height: 100%">
    <form method="post">
        <div class="form-div flex-column">
            <label asp-for="PasswordConfirmationModel!.Password" class="form-label" style="font-size: 30px;">New password</label>
            <input asp-for="PasswordConfirmationModel!.Password" type="password" class="form-input" style="font-size: 30px;" />
            <span asp-validation-for="PasswordConfirmationModel!.Password" class="validation-message"></span>
        </div>
        <div class="form-div flex-column">
            <label asp-for="PasswordConfirmationModel!.PasswordConfirmation" class="form-label" style="font-size: 30px;">Confirm new password</label>
            <input asp-for="PasswordConfirmationModel!.PasswordConfirmation" type="password" class="form-input" style="font-size: 30px;" />
            <span asp-validation-for="PasswordConfirmationModel!.PasswordConfirmation" class="validation-message"></span>
        </div>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Token" />
        <input type="submit" value="Change password" />
    </form>
</div>
